In [1]:
from ecom_comparison import *

In [2]:
data = search()

Search: Máy tính bảng
Status: 202 OK

In [3]:
data.head(5)

               id                                               name  \
tiki 0  273559020  Máy tính bảng Kindle Fire HD10 2023 13th - 32G...
     1  273559306  Máy tính bảng Kindle Fire Max 11 inch - 13th -...
     2  274101262  Máy Tính Bảng Samsung Galaxy Tab A9 Plus Wifi ...
     3  183330021          Apple iPad 10.2-inch (9th Gen) Wi-Fi 2021
     4  184253251                Apple iPad Air (5th Gen) Wi-Fi 2022

           price  original_price  discount  discount_rate  rating_average  \
tiki 0   3390000         3390000         0            0.0             0.0
     1   5290000         5290000         0            0.0             0.0
     2   3800000         5990000   2190000           37.0             5.0
     3   6990000        10990000   4000000           36.0             5.0
     4  13990000        18990000   5000000           26.0             5.0

        review_count      origin
tiki 0             0          Mỹ
     1             0          Mỹ
     2            26  Trung Quốc
     3           985  Trung Quốc
     4           248  Trung Quốc